<div class="banner-2">
  <div class="navbox l-hug">
    <a href="/" class="btn btn-nav">NEED TO HOWL?</a>
  </div>

  <div class="navbox r-hug">
    <a href="/" class="btn btn-nav">SEE THE PACK</a>
  </div>
</div>

<div class="feed">
  <h1 class="feed-header">Here are the last five howls from your pack:</h1>
  <div class="howlbox">
    <div class="howl-top">
      <p class="howl-name">Fenrir</p>
      <p class="howl-time">Today</p>
      <img src="/images/gray-wolf-closeup.jpg" class="img-thumb r-hug">
    </div>
    <div class="howl-middle">Stupid deer got cought in a fence. Like taking a biscuit from a puppy.</div>
    <div class="howl-bottom">
      <a href="/" class="btn btn-response">HOWL BACK (0)</a>
      <a href="/" class="btn btn-response">LIKE (0)</a>
    </div>
  </div>

  <div class="howlbox">
    <div class="howl-top">
      <p class="howl-name">Fenrir</p>
      <p class="howl-time">Today</p>
      <img src="/images/gray-wolf-closeup.jpg" class="img-thumb r-hug">
    </div>
    <div class="howl-middle">Stupid deer got cought in a fence. Like taking a biscuit from a puppy.</div>
    <div class="howl-bottom">
      <a href="/" class="btn btn-response">HOWL BACK (0)</a>
      <a href="/" class="btn btn-response">LIKE (0)</a>
    </div>
  </div>

</div>

<div class="banner-2">
  <div class="navbox l-hug">
    <a href="/" class="btn btn-nav">SEE PREVIOUS HOWLS</a>
  </div>
</div>
